    <div id="top-banner">
    <button id="menu-toggle" class="menu-toggle" type="button" aria-label="Abrir menú" aria-expanded="false" aria-controls="contenido">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22" aria-hidden="true">
    <path d="M3 6h18v2H3zM3 11h18v2H3zM3 16h18v2H3z"/>
    </svg>
    </button>
    <a class="banner-link" rel="bookmark" href="{{cpeum_href}}">{{nav_cpeum}}</a>
    <div class="banner-links">
    <a class="banner-link" rel="bookmark" href="{{decretos_href}}">{{nav_decretos}}</a>
    <a class="banner-link" rel="bookmark" href="{{estadisticas_href}}" title="{{nav_estadisticas_title}}">{{nav_estadisticas}}</a>
    <a class="banner-link" rel="bookmark" href="{{acerca_href}}" title="{{nav_acerca_title}}">&#x1F6C8;</a>
    <a class="banner-link" rel="external noreferrer" target="_blank" href="{{github_url}}" title="Código fuente en GitHub">
    <svg class="banner-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" aria-hidden="true">
    <path d="{{octocat}}"/>
    </svg>
    </a>
    </div>
    </div>
