    <meta name="description" content="{{description}}" />
    <meta property="og:title" content="{{og_title}}" />
    <meta property="og:description" content="{{og_description}}" />
    <meta property="og:image" content="{{og_image}}" />
    <meta property="og:type" content="{{og_type}}" />
    <meta property="og:url" content="{{og_url}}" />
    <meta name="twitter:card" content="{{twitter_card}}" />
    <meta name="twitter:title" content="{{twitter_title}}" />
    <meta name="keywords" content="{{keywords}}" />
    <meta name="author" content="{{author}}" />
    <link rel="canonical" href="{{canonical}}" />
    <link rel="author" href="{{icon_base}}humans.txt" />
    <link rel="icon" href="{{icon_base}}img/cpeum.ico" sizes="48x48" />
    <link rel="icon" href="{{icon_base}}img/cpeum-32x32.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="{{icon_base}}img/cpeum-16x16.png" sizes="16x16" type="image/png" />
    <link rel="apple-touch-icon" href="{{icon_base}}img/apple-touch-icon.png" type="image/png" />
